@font-face {
    font-family: "Raleway-v4020";
    src: url("/fonts/Raleway-v4020-Italic.woff2") format("woff2"),
        url("/fonts/Raleway-v4020-Italic.woff") format("woff");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Raleway-v4020";
    src: url("/fonts/Raleway-v4020-Regular.woff2") format("woff2"),
        url("/fonts/Raleway-v4020-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Raleway-v4020";
    src: url("/fonts/Raleway-v4020-Bold.woff2") format("woff2"),
        url("/fonts/Raleway-v4020-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Raleway-v4020";
    src: url("/fonts/Raleway-v4020-ExtraBold.woff2") format("woff2"),
        url("/fonts/Raleway-v4020-ExtraBold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Raleway-v4020";
    src: url("/fonts/Raleway-v4020-Medium.woff2") format("woff2"),
        url("/fonts/Raleway-v4020-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Raleway-v4020";
    src: url("/fonts/Raleway-v4020-MediumItalic.woff2") format("woff2"),
        url("/fonts/Raleway-v4020-MediumItalic.woff") format("woff");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Raleway-v4020";
    src: url("/fonts/Raleway-v4020-SemiBold.woff2") format("woff2"),
        url("/fonts/Raleway-v4020-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
